<h1>About Profiles</h1>
<div>
    <p>
        Want to connect with people from all over the world?
    </p>
    <p>
        Try Profiles. Create your own and start connecting ...
    </p>
    <%= link_to 'Sing Up', new_user_registration_path %>
<div>