<h1>Welcome to Profiles</h1>
<div class="introduction">
    <p>
        Want to connect with people from all over the world?
    </p>
    <p>
        Try Profiles. Create your own and start connecting ...
    </p>
<div>